<h1>Editing consultation</h1>

<%= render "form", consultation: @consultation %>

<br>

<div>
  <%= link_to "Show this consultation", @consultation %> |
  <%= link_to "Back to consultations", consultations_path %>
</div>
