<div class="container mt-5 text-center">
<h1>New consultation</h1>

<%= render "form", consultation: @consultation %>

<br>

<div>
  <%= link_to "Back to consultations", consultations_path %>
</div>
</div>